{% load static %}

<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}} | Task Tracker</title>
  <style>
      @import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
  </style>
  <link rel="stylesheet" type="text/css" href="{% static 'PartTrackerApp/styles.css' %}">
  <link rel="shortcut icon" type="image/png" href="{% static 'PartTrackerApp/favicon.ico' %}"/>
</head>
<!-- <script src="{% static 'PartTrackerApp/script.js' %}"></script> -->
